body {
  text-align: center;
  background-color: blue;
}

body header,
body footer {
  margin: 20px 0;
  border: 2px solid yellow;
  padding: 50px;
}

body .container {
  color: white;
}

body .container div {
  border: 1px solid black;
  float: left;
  margin: 10px 20px;
  padding: 10px;
  width: 200px;
  height: 300px;
}

body .container div a {
  color: white;
  text-decoration: none;
}

body .container div .nome {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 0;
}

body .container div .nome:hover {
  background-color: black;
}

body .container div span {
  border: 1px solid black;
  padding: 3px;
}

body .container div span:hover {
  background-color: black;
}

body .container::after {
  content: "";
  clear: both;
  display: table;
}

